@import "tailwindcss";
@plugin "daisyui";

/* fonts */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/assets/fonts/PlusJakartaSans.ttf') format('truetype');
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* login page */


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 4px;
}

.mdown h1{
  @apply text-xl font-bold mb-4 pt-2;
}

.mdown h2 {
  @apply text-lg font-semibold mb-3 pt-2;
}

.mdown p {
  @apply text-base text-justify;
}

.mdown table {
  @apply w-full text-sm mb-4 overflow-x-auto max-w-full;
}

.mdown table th {
  @apply bg-gray-200 px-4 py-2 text-left border border-black;
}

.mdown table td {
  @apply border px-4 py-2;
}
